
.featuredProperties{
  /* overflow-x: hidden !important; */
  /* padding: 0 96px; */
  position: relative;
}

.middleContainer{
  display: flex;
  gap: 25px;
  margin: 0 96px;
  width: 80vw !important;
  z-index: 1;
  /* overflow-x: hidden; */
  
}

.forCutout{
 padding: 0 96px;
 z-index: 2;
 /* background-color: rgba(255, 0, 0, 0.308); */
 overflow-x: hidden;
 width: 80vw !important;
}

.arrow1, .arrow2{
  top: 50%;
  z-index: 3;
}

.arrow1{
  left:160px ;
}

.arrow2{
  right: 160px;
}